{% extends 'carservice/schedule/template.html' %}

{% load staticfiles%}

{% block title %} Chọn xe | Dịch vụ xe du lịch Phước Nhân {% endblock %}

{% block scripts %}
    {# <link href="{% static 'css/jquery_datetimepicker.css' %}" rel="stylesheet"> #}

    <script>

        $(".add_button").click(function() {
            var id = $("#car").val();
            if (id){
                var link = "{% url 'carservice:schedule_new' 123%}";
                link = link.replace('123', id);
                window.location.href = link;
            }else{
                alert("Vui lòng nhập thông tin xe!!!");
            }
        });
    </script>

{% endblock%}



{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Thêm lịch</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Chọn xe
    </li>
{% endblock %}
                
{% block contain %}

    
    <div class="panel panel-primary">
        <div class="panel-body">
        {%  if cars %}
            <div class="form-group">
                <div class="input-group">
                    <select class="form-control choose-element"  name="car" id="car">
                        {%  for car in cars %}
                            <option value="{{ car.id}}"> {{car}}</option>
                        {% endfor%}
                            <option value=""> ---Thêm Xe Mới---</option>
                        </select>
                    <div class="input-group-btn">
                        <button type="submit_type" class="btn btn-primary add_button">Tiếp</button>
                    <!-- Buttons -->
                    </div>
                </div>
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-groupy" id="new-car" style="display:none">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-block" type="submit" value="Thêm" />
                    </div>
                </div>
            </form>
        {% else %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-groupy" id="new-car">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-block" type="submit" value="Thêm" />
                    </div>
                </div>
            </form>
        {% endif %}

        </div>

    </div>
     <a href="{% url 'carservice:schedule'%}" class="btn btn-primary">Bỏ qua</i></a>
{% endblock %}

