{% extends 'carservice/schedule/template.html' %}

{% load staticfiles%}

{% block title %} Chọn xe | Dịch vụ xe du lịch Phước Nhân {% endblock %}

{% block scripts %}
    <script>
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);
        $(".add_button").click(function() {
            var id =  $("#customer").val();
            if (id){
                var url = window.location.pathname;
                var link = url + "/" + $("#customer").val();
                window.location.href = link;
            }
            else{
                alert("Vui lòng nhập thông tin khách hàng!");
            }
        });
    </script>

{% endblock%}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Thêm khách hàng</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Chọn khách hàng
    </li>
{% endblock %}
                
{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-body">
        {%  if customers %}
            <div class="form-group">
                <div class="input-group">
                    <select class="form-control choose-element" name="customer" id="customer">
                        {%  for customer in customers %}
                            <option value="{{ customer.id}}"> {{customer}}</option>
                        {% endfor%}
                        <option value=""> ---Thêm Khách Hàng Mới---</option>
                    </select>
                    <div class="input-group-btn">
                        <button type="submit_type" class="btn btn-primary add_button">Tiếp</button>
                    <!-- Buttons -->
                    </div>
                </div>
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-groupy" id="new-customer" style="display:none">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-block" type="submit" value="Thêm" />
                    </div>
                </div>
            </form>
        {% else %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-groupy" id="new-car">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-block" type="submit" value="Thêm" />
                    </div>
                </div>
            </form>
        {% endif %}

        </div>

    </div>
     <a href="{% url 'carservice:schedule'%}" class="btn btn-primary">Bỏ qua</i></a>
{% endblock %}

