{% extends 'carservice/customer/template.html' %}

{% block title %} Nội dung trang web {% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Khách hàng</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> chi tiết
    </li>
{% endblock %}
                
{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-heading">Danh sách các xe của dịch vụ du lịch <strong>Phước Nhân</strong></div>
        <div class="panel-body">
            <table class="table table-hover customer-table-info" id="mydatatable">
                <tbody id="myTable">
                    {%  if object_list %}
                        {%  for customer in object_list %}
                            <tr class='clickable-row' data-href="chi-tiet/{{customer.id}}">
                                <td>{{ customer.id }}</td>
                                <td class="col-img">
                                    <div class="customer-img">
                                        <img src="{{ customer.avatar.url}}"> 
                                    </div>
                                </td>
                                <td>
                                    <div class="customer-name">{{ customer.name}}</div>
                                    <div class="col-2-group">
                                        <div class="customer-cardid">Số CMND: <span>{{ customer.cardid}}</span></div>
                                        <div class="customer-phone">Số Điện Thoại: <span>{{ customer.phone}}</span></div>
                                    </div>                                    
                                    <div class="customer-address">Địa chỉ: <span>{{ customer.address}}</span></div>
                                </td>
                                <td style="text-align: right;">

                                    <a href="{% url 'carservice:customer_edit' customer.id%}" class="btn btn-warning"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Sửa</a>

                                    <a href="{% url 'carservice:customer_delete' customer.id%}" class="btn btn-danger"><i class="fa fa-trash fa-lg" aria-hidden="true"></i> Xóa</a>
                                </td>
                            </tr>
                        {%  endfor %}
                        
                    {%  endif%}
                   
                </tbody>
            </table>    
            
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    <a href="{% url 'carservice:customer_new'%}">Thêm khách hàng mới +</a>
{% endblock %}
