{% extends 'frontend/template.html' %}

{% block title %} Thông tin xe | Dịch vụ thuê xe du lịch Phước Nhân {% endblock %}

{% block content %}
	<header class="page-header nevy-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                
                    <h2 class="page-title"> Thông tin xe</h2>
                    <p class="page-description yellow-color">Thông tin về các loại xe</p>        
                </div><!-- /.col-md-12 -->
            </div><!-- /.row-->
        </div><!-- /.container-fluid -->           
    
	</header>


    <div class="available-block vehicle-padding bg-gray-color">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 clearfix">
                            <h2 class="available-title">Danh Sách Xe</h2>
                        </div><!-- /.col-md-9 -->
                        <!--<div class="col-md-3 col-sm-3">
                            <div class="vehicle-category pull-right">
                                <select name="vehicle-category" id="vehicle-cat-list">
                                    <option value="">All</option>
                                    <option value="toyota">Toyota</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div> /.vehicle-category
                        </div> /.col-md-3 -->
                    </div><!-- /.row -->

                    <div class="row">
                        {% if object_list%}
                            {%for c in object_list%}
                            <div class="col-md-4 col-sm-6">
                                <div class="vehicle-content theme-yellow">
                                    <a href="{% url 'frontend:detail_car' c.id %}">
                                        <div class="vehicle-thumbnail">
                                            <img src="{{c.avatar.url}}" alt="car-item">                                       
                                        </div><!-- /.vehicle-thumbnail -->
                                     </a>
                                    <div class="vehicle-bottom-content">
                                        <h2 class="vehicle-title"><a href="{% url 'frontend:detail_car' c.id %}">{{c.nameofcar}}</a></h2>
                                        <div class="vehicle-meta">
                                            <div class="meta-item">
                                                <span>Xe {{c.typecar}} chỗ - [{{c.carid}}]</span>
                                            </div>
                                        </div><!-- /.meta-left -->
                                    </div><!-- /.vehicle-bottom-content -->
                                </div><!-- /.car-content -->
                            </div><!-- /.col-md-4 -->
                            {%endfor%}
                        {% endif%}
                       
                    </div><!-- /.row -->

                    {% if is_paginated %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pagination-link">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %}
                                        {% for i in paginator.page_range %}
                                            {% if page_obj.number == i %}
                                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                    {% endif %}
                </div><!-- /.col-md-9 -->

                <div class="col-md-3">
                    <div class="vehicle-sidebar">                    
                        <form action="{% url 'frontend:car'%}" method="get" class="advance-search-query">
                            {% csrf_token %}
                            <h2 class="form-title">Filters</h2>
                            <div class="form-content available-filter">
                                <div class="form-group">
                                    <select  class="form-controller" name="typecar">
                                        <option value>--- Loại Xe ---</option>
                                        <option value="4">Xe 4 chỗ</option>
                                        <option value="7">Xe 7 chỗ</option>
                                        <option value="16">Xe 16 chỗ</option>
                                    </select>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label>Available On</label>
                                    <div class="input">
                                        <i class="fa fa-calendar"></i>
                                        <input class="date-start  date-selector form-controller" placeholder="Ngày đi" type="text">
                                    </div><!--/.input-->
                                    <div class="input">
                                        <i class="fa fa-calendar"></i>
                                        <input class="date-end date-selector form-controller" placeholder="Ngày về" type="text">
                                    </div><!--/.input-->
                                </div><!-- /.form-group -->
                                
                                <div class="filter-button">
                                    <button type="submit" class="button nevy-bg">Lọc</button>
                                </div><!-- /.filter-button -->
                            </div><!-- /.from-cotent -->
                        </form><!-- /.advance_search_query -->
                    </div><!-- /.vehicle-sidebar -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container  -->
    </div>

	
{% endblock %}