{% extends 'frontend/template.html' %}

{% block title %} Đặt lịch | Dịch vụ thuê xe du lịch Phước Nhân {% endblock %}

{% block content %}
	{% load staticfiles %}


	<header class="page-header nevy-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                
                    <h2 class="page-title"> Thông tin xe</h2>
                    <p class="page-description yellow-color">Thông tin về các loại xe</p>        
                </div><!-- /.col-md-12 -->
            </div><!-- /.row-->
        </div><!-- /.container-fluid -->           
    
	</header>

    {%if car%}
    <div class="vehicle-single-block vehicle-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="corousel-gallery-content">
                        <div class="gallery">
                            {# image  #}
                            <div class="full-view owl-carousel owl-loaded owl-drag"> 
                                {%for photo in photos%}
                                    <div class="owl-item">
                                        <a class="item">
                                            <img src="{{photo.path_img.url}}" alt="post">
                                        </a>
                                    </div>
                                {%endfor%}
                            </div>
                            {# sub image #}
                            <div class="list-view owl-carousel owl-loaded owl-drag">
                                {%for photo in photos%}
                                <div class="owl-item">
                                    <div class="item">
                                        <img src="{{photo.path_img.url}}" alt="post">
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    {# imformation #}
                    <div class="vehicle-single-content">
                        <div class="tb mb-block">
                            <div class="tb-cell mb-block">
                               <h2 class="vehicle-single-title">{{car.manufacturer}} {{car}}</h2>
                            </div><!-- /.tb-cell --> 
                            <div class="tb-cell mb-block">
                               <h2 class="pull-right rent-price">Loại xe: {{car.typecar}} chỗ</h2>
                            </div>
                        </div><!-- /.tb -->
                        <div class="clearfix"></div><!-- /.clearfix -->
                        <div class="vehicle-overview">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="overview-title">Tiện ích</h3>
                                    <div class="overview">
                                        <ul>
                                            <li>Nội thất: <span>sang trọng</span></li>
                                            <li>Video: <span>DVD</span></li>
                                            <li>MP3: <span>Nhac MP3</span></li>
                                            <li>Wifi: <span>Wifi 4G chất lượng cao</span></li>
                                            <li>Nước: <span>nước suối</span></li>
                                        </ul>
                                    </div><!-- /.vehicle-overview -->
                                </div><!-- /.col-md-12 -->
                                 <div class="col-md-12">
                                    <div>
                                        {{car.about_car}} 
                                    </div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.overview -->
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="vehicle-sidebar" style="background: #f8f8f8;">
                         <div class="widget widget_popular_posts clearfix">
                             <h4 class="widget-title expand-margin mb-widget">Bài viết phổ biến</h4><!-- /.widget-title -->
                             <div class="widget-content">
                                {% if other_cars %}
                                {% for c in other_cars%}
                                     <div class="post-content clearfix">
                                         <div class="image-content">
                                             <a href="{% url 'frontend:detail_car' c.id %}">
                                                 <img src="{{c.avatar.url}}" alt="post">
                                             </a>
                                         </div><!-- /.image-content -->
                                         <div class="post-info">
                                             <h5 class="widget-post-title"><a href="{{c.avatar.url}}" style="color: #000;">{{c}}</a></h5>
                                             <span class="post-date">Loại: {{c.typecar}} chỗ</span>
                                         </div><!-- /.post-info -->
                                     </div><!-- /.post-content -->
                                {% endfor %}
                            {% endif %}  
                                <div class="widget widget_tagcloud clearfix">
                                    <h4 class="widget-title expand-margin mb-widget">Tag Clound</h4> 
                                    <div class="tagcloud" style="display: none;">
                                         <a title="Cho thuê xe " href="#">Cho thuê xe </a>
                                         <a title="Cho thuê xe giá rẻ" href="#">Cho thuê xe giá rẻ</a>
                                         <a title="Thuê xe 4 chỗ" href="#">Thuê xe 4 chỗ</a>
                                         <a title="Thuê xe 7 chỗ" href="#">Thuê xe 7 chỗ</a>
                                         <a title="Thuê xe 16 chỗ" href="#">Thuê xe 16 chỗ</a>
                                         <a title="Thuê xe hoa" href="#">Thuê xe hoa</a>
                                         <a title="Xe du lịch" href="#">Xe du lịch</a>
                                         <a title="Thuê xe ăn tiệc" href="#">Thuê xe ăn tiệc</a>
                                         <a title="Thuê xe cưới" href="#">Thuê xe cưới</a>
                                    
                                    </div> 
                                </div>   
                            </div><!-- /.widget-content -->
                         </div><!-- /.widget widget_popular_post -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    {%endif%}
{% endblock%}