{% extends 'frontend/template.html' %}
{% load staticfiles %}
{% block title %} Blog | Dịch vụ thuê xe du lịch Phước Nhân {% endblock %}

{% block content %}
	<header class="page-header nevy-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                
                    <h2 class="page-title">Blog</h2>
                    <p class="page-description yellow-color">Các bài blog</p>        
                </div><!-- /.col-md-12 -->
            </div><!-- /.row-->
        </div><!-- /.container-fluid -->           
    
	</header>

    <div class="blog-single-block bg-gray-color pd-btm-60">
        <div class="container">
            {% if blog %}
            <div class="row">
                <!-- Blog single Content -->
                <div class="col-md-8">
                    <div class="single-main-content">
                        <article class="post-content">
                            <div class="entry-header">
                                <h2 class="entry-title">{{blog.title}}</h2>
                            </div><!-- /.entry-header -->

                            <div class="author-content clearfix hidden-xs">
                                <div class="entry-author pull-left">
                                    <div class="author-image">
                                       <img src="{% static 'images/avatar/avatar5.png'%}" alt="blog">
                                    </div><!-- /.image -->

                                    <div class="author-details">
                                        <h4 class="author-name">{{blog.author.get_full_name}}</h4>
                                        <p class="author-designation">Administrator</p>
                                    </div>
                                </div><!-- /.pull-left -->
                                
                                <div class="post-navigation block-navigation-area yellow-theme">
                                    <div class="item-navigation pull-right">
                                        <a href="#" class="previous-item">
                                            <i class="fa fa-angle-left"></i> 
                                        </a>
                                        <a href="#" class="next-item">
                                            <i class="fa fa-angle-right"></i> 
                                        </a>
                                    </div><!-- /.item-navigation -->
                                </div><!-- /.post-navigation -->
                            </div><!-- /.author-content -->
                            <div class="single-post">
                                <div class="entry-meta">
                                    <div class="entry-date">
                                        <div class="meta-title">Ngày</div> 
                                        <a href="#">{{blog.uploaded_at|date:"d-m-Y"}}</a>
                                    </div>
                            
                                    <div class="entry-category">
                                        <div class="meta-title">Category</div> 
                                        <a href="#">{{blog.category.name}}</a>
                                    </div>      
                                </div><!-- /.entry-meta -->

                                <div class="entry-content">
                                   {{blog.content|safe}}
                                </div><!-- /.entry-content -->
                            </div><!-- /.single-post -->
                        </article><!-- /.post -->
                    </div><!-- /.single-main -->

                    <!-- ======Related Post BLock======= --> 
                    <div class="related-blog bg-gray-color">
                        <div class="row tb default-margin-bottom yellow-theme">
                            <!-- block-title-area -->
                            <div class="col-md-10 block-title-area tb-cell">
                                <div class="heading-content style-one">
                                    <h2 class="title">Bài viết liên quan</h2>
                                </div><!-- /.heading-content-one -->
                            </div><!-- /.col-md-10 -->

                            <!-- block-navigation-area -->
                            <div class="col-md-2 block-navigation-area hidden-xs tb-cell">
                                <div class="item-navigation nav-right">
                                    <a href="#" class="previous-item">
                                        <i class="fa fa-angle-left"></i> 
                                    </a>

                                    <a href="#" class="next-item">
                                        <i class="fa fa-angle-right"></i> 
                                    </a>
                                </div><!-- /.item-navigation -->
                            </div><!-- /.col-md-2 -->
                        </div><!-- /.row --> 
                        <div class="row">
                        <!-- /.vehicle-slider -->                           
                           {% if blog_category %}
                                {% for b in blog_category%}
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <div class="item">
                                        <article class="post">
                                            <figure class="post-thumb">
                                                <a href="{% url 'frontend:detail_news' b.id %}">
                                                    <img src="{{b.avatar.url}}" alt="blog">
                                                </a>
                                            </figure><!-- /.post-thumb -->
                                            <div class="post-content">  
                                                <div class="entry-meta">
                                                    <span class="entry-date nevy-bg">
                                                        {{b.uploaded_at|date:"d-m-Y"}}
                                                    </span>
                                                    <span class="entry-author red-bg">
                                                        <i class="fa fa-user"></i>
                                                        {{blog.author.username}}
                                                    </span>
                                                </div><!-- /.entry-meta -->
                                                <h2 class="entry-title">
                                                    <a href="{% url 'frontend:detail_news' b.id %}">
                                                        {{b.title}}
                                                    </a>
                                                </h2><!-- /.entry-title -->
                                                <div class="entry-footer">
                                                    <div class="entry-footer-meta">
                                                        <span class="entry-view"><i class="fa fa-eye"></i>{{b.view}}</span>
                                                        <span class="entry-like"><a href="#"><i class="fa fa-heart-o"></i>09</a></span>
                                                        <span class="entry-comments"><a href="#"><i class="fa fa-comments"></i>05</a></span>
                                                    </div><!-- /.entry-footer-meta -->
                                                </div><!-- /.entry-footer -->
                                            </div><!-- /.post-content -->
                                        </article><!-- /.post -->
                                        </div>
                                </div><!-- /.vehicle-slider -->
                                {% endfor %}
                            {% endif %}
                        </div>

                    
                    </div><!-- /.col-md-8 -->
                </div>

                <!-- Blog Sidebar Content -->
                 <div class="col-md-4 blog-sidebar">
                     <div class="blog-content-right nevy-bg">
                         <div class="widget widget_popular_posts clearfix">
                             <h4 class="widget-title expand-margin mb-widget">Bài viết phổ biến</h4><!-- /.widget-title -->
                             <div class="widget-content">
                                {% if blog_most %}
                                    {% for b in blog_most%}
                                         <div class="post-content clearfix" style="margin-bottom: 20px; border-bottom: 1px solid #4c4c4c; padding-bottom: 20px;">
                                             <div class="image-content">
                                                 <a href="{% url 'frontend:detail_news' b.id %}">
                                                     <img src="{{b.avatar.url}}" alt="post">
                                                 </a>
                                             </div><!-- /.image-content -->
                                             <div class="post-info">
                                                 <h5 class="widget-post-title"><a href="#">{{b.title}}</a></h5>
                                                 <span class="post-date"> {{b.uploaded_at|date:"d-m-Y"}}</span>
                                             </div><!-- /.post-info -->
                                         </div><!-- /.post-content -->
                                    {% endfor %}
                                {% endif %}     
                             </div><!-- /.widget-content -->
                         </div><!-- /.widget widget_popular_post -->

                        {% if blog_most %}
                            <div class="widget widget_categories clearfix">
                                <h4 class="widget-title expand-margin mb-widget">Categories</h4> <!-- /.widget-title -->
                             
                                {% for category in categories%}
                                 <ul style="display: none;">
                                    <li style="border-bottom: 1px solid #4c4c4c;">
                                         <a href="{% url 'frontend:news'%}">{{category.name}}</a>
                                         <span class="count">{{category.blogs_count}}</span>
                                     </li>
                                 </ul>
                                 {% endfor %}
                             
                            </div> <!-- /.widget_categories -->
                        {% endif %} 


                         <div class="widget widget_tagcloud clearfix">
                             <h4 class="widget-title expand-margin mb-widget">Tag Cloud</h4> 
                             <div class="tagcloud" style="display: none;">
                                 <a title="News" href="#">News</a>
                                 <a title="Aside" href="#">Magazine</a>
                                 <a title="Music" href="#">Lifestyle</a>
                                 <a title="Video" href="#">Music</a>
                                 <a title="Uncatagories" href="#">Articles</a>
                                 <a title="Lifestyle" href="#">Travels</a>
                                 <a title="Travels" href="#">Sports</a>
                                 <a title="Aside" href="#">Movie</a>
                                 <a title="Link" href="#">Link</a>
                                 <a title="Galarry" href="#">Technology</a>
                                 <a title="Quate" href="#">Fashion</a>
                                 <a title="Fashion" href="#">Business</a>
                                 <a title="Photography" href="#">Newspaper</a>
                                 <a title="Shooting" href="#">E-Book</a>
                             </div> 
                         </div> <!-- /.widget_tagcloud -->
                     </div><!-- /.blog-content-right -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
            {% endif%}
        </div><!-- /.container -->
    </div>
{% endblock%}