{% extends 'carservice/car/template.html' %}

{% block title %}Quản lý xe{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Xe</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Hiển thị {{ request.resolver_match.url_name }} 
    </li>
{% endblock %}
                
{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-heading">Danh sách các xe của dịch vụ du lịch <strong>Phước Nhân</strong></div>
        <div class="panel-body">

            <table class="table table-hover customer-table-info order-column" id="mydatatable">
               
                <tbody id="myTable">
                    {%  if object_list %}
                        {%  for car in object_list %}
                            <tr class='clickable-row' data-href="chi-tiet/{{car.id}}">
                                <td>{{ car.id }}</td>
                                <td class="col-img">
                                    <div class="customer-img">
                                        <img src="{{ car.avatar.url}}"> 
                                    </div>
                                </td>
                                <td>
                                    <div class="customer-name">{{ car.nameofcar}}</div>
                                    <div class="col-2-group">
                                        <div class="customer-cardid">Biển Số: <span>{{ car.carid}}</span></div>
                                        <div class="customer-cardid">Hãng: <span>{{ car.manufacturer}}</span></div>
                                        <div class="customer-phone">loại xe: <span>{{ car.typecar}} Chỗ</span></div>
                                    </div>                                    
                                    <div class="customer-address">Sở hữu: <span>{{ car.owner}}</span></div>
                                </td>
                                <td style="text-align: right;">
                                    <a href="{% url 'carservice:car_detail' car.id%}" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i> Xem</a>

                                    <a href="{% url 'carservice:car_add_photo' car.id%}" class="btn btn-success"><i class="fa fa-file-image-o" aria-hidden="true"></i> Thêm ảnh</a>
                                    
                                    <a href="{% url 'carservice:car_edit' car.id%}" class="btn btn-warning"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Sửa</a>

                                    <a href="{% url 'carservice:car_delete' car.id%}" class="btn btn-danger"><i class="fa fa-trash fa-lg" aria-hidden="true"></i> Xóa</a>
                                    
                                </td>
                            </tr>
                        {%  endfor %}
                        
                    {%  endif%}
                   
                </tbody>
            </table>    

            
        </div>
    </div>
    <a href="{% url 'carservice:car_new'%}"> Thêm xe +</a>
{% endblock %}

